<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/delete">
            <fieldset>
                <legend>Are you sure you want to delete your account?</legend>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input id="checkbox_confirm" type="checkbox" name="confirm"
                               onchange="document.getElementById('delete_button').disabled = !this.checked;">Yes, I want to delete my account<br/>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-sm-4 pull-left">
                        <a class="btn btn-info" href="/user/details">I've changed my mind</a>
                        <button id="delete_button" type="submit" class="btn btn-danger" disabled>Proceed</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>